*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  background-color: grey;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.navbar ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 70px;
}
.navbar ul li>a{
  font-size: 1.5rem;
  /* padding: 50px; */
  text-decoration: none;
  color: white;
}
.navbar ul li>a:hover{
  color: black;
}
.navbar ul li>button{
  font-size: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  top: 22px;
  right:50px;
  border-radius: 10px;
  border:none;
  background-color: rgb(214, 208, 208);
  transition: all 0.3s ease;

}
.navbar>div.menu_btn{
  display: none;
  font-size: 2rem;
  position: absolute;
  right: 50px;
  color:rgb(243, 243, 243);
  
  
}
.navbar>img{
  height: 80px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top:5px;
  left: 30px;
}
.navbar ul li>button:hover{
  background-color: black;
  color: white;
}
@media (min-width:949px) and (max-width:1140px){

  .navbar ul{
    gap: 60px;
  }
  .navbar ul li>a{
    scale: 1;
    
    
  }
  .navbar ul>li>button{
   scale: 0.9;
   
   
  }
}
@media (min-width:865px) and (max-width:949px){

  .navbar ul{
    gap:50px;
  }
  .navbar ul li>a{
    scale: 0.85;
    
    
  }
  .navbar ul>li>button{
   scale: 0.85;
   
  }

}
@media (max-width:865px){
  .navbar{
  background-color: grey;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
 .navbar ul{
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background-color: rgb(212, 209, 215);
  gap: 15px;
  height: 300px;
  width:100%;
  position: absolute;
  top: 100px;
  left: 0;
  scale: 1;

  
 }
 .navbar ul li>button{
  font-size: 1.5rem;
  padding: 10px 30px;
  cursor: pointer;
  position: static;
  margin-top: 15px; 
  margin-left: 0px;
  border-radius: 10px;
  border:none;
  background-color: black;
  color: grey;
  transition: all 0.3s ease;

}
.navbar ul li>button:hover{
  background-color: grey;
  color: black;
}
.navbar ul li>a{
  color: grey;
}

 .navbar>div.menu_btn{
  display: block;
}
.navbar ul.active {
  display: flex; 
}
}
